.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home > nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}